@model IEnumerable<HopeTherapy.Models.Donor>
@{
    ViewBag.Title = "DMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
</head>
<body>
    <br />
    <p><a href="/Donor/List" class="btn btn-primary btn-lg">Go Back &laquo;</a></p>
    <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p>

    <center><h1>Donor Mailing List</h1></center>

    @foreach (var Donor in Model)
    {
        <a href='@Url.Action("Profile", "Donor", new { ID = @Donor.DonorID })' style="color:#935347">@Donor.FirstName @Donor.LastName</a>
        <br />
        <p> @Donor.StreetAddress </p>
        <p> @Donor.City ,  @Donor.State ,  @Donor.ZipCode </p>
        <br /><br />

    }
</body>
</html>
