@model IEnumerable<HopeTherapy.Models.Donation>

    @{
        ViewBag.Title = "Donations";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <html>
    <head>
    </head>
    <body>
        <br />
        <p><a href="/Donor/List" class="btn btn-primary btn-lg">Go Back &laquo;</a></p>
        <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p>
        <center>
            <h1>Donation List</h1>
            <div class="col-sm-4" style="width:33.33%">
                @using (Html.BeginForm("listDonationsBefore", "Donor", FormMethod.Post))
                {
                    <label for="Search">Donations before:</label><br />
                    <input type="date" name="date" id="date" />
                    <button type="submit" class="btn btn-primary btn-lg">Search</button><br /><br />
                }

            </div>
            <div class="col-sm-4" style="width:33.33%">
                @using (Html.BeginForm("SearchDate", "Donor", FormMethod.Post))
                {
                    <label for="Search">Donations between:</label><br />
                    <input type="date" name="first" id="first" /><p>&nbsp; and</p>    
                            <input type="date" name="second" id="second" /><br /><br />
                            <button type="submit" class="btn btn-primary btn-lg">Search</button><br /><br />
                }
            </div>
            <div class="col-sm-4" style="width:33.33%">
                @using (Html.BeginForm("listDonationsAfter", "Donor", FormMethod.Post))
                {
                    <label for="Search">Donations after:</label><br />
                    <input type="date" name="date" id="date" />
                    <button type="submit" class="btn btn-primary btn-lg">Search</button><br /><br />
                }

            </div>


                    

            <center>
                <p>&nbsp;</p>
                <div class="row">
                    <div class="col-sm-4" style="width:100%">
                        <a href="/Donor/Donations" class="btn btn-primary btn-lg">View All</a>
                    </div>
                </div>
            </center>
            </center>

        <p>&nbsp;</p>

        @if (Utilities.IsNullOrEmpty(Model))
        {
            <center><h1>Sorry but there aren't any results.</h1></center>
        }
        else
        {
            <table border="1" style="margin: 0px auto;">
                <thead style="font-size:23px">
                    <tr>
                        <th>
                           Donor Name
                        </th>
                        <th>
                            Donation Date
                        </th>
                        <th>
                            Donation
                        </th>
                    </tr>
                </thead>
                @foreach (var Donation in Model)
                {
                    <tr>
                        <td>
                            <p>@Donation.donorFName <span> </span> @Donation.donorLName</p>

                        </td>
                        <td>
                           <p>@Donation.date.Date.Month <text>/</text> @Donation.date.Date.Day <text>/</text> @Donation.date.Date.Year <br /></p> 
                        </td>
                        <td>
                            @if (Donation.donationAmount != 0)
                            {
                                <p>$@Donation.donationAmount</p>
                            }
                            
                            <p>@Donation.donationItem</p>
                        </td>
                    </tr>
                }
            </table>
        }
    </body>
</html>

