@model HopeTherapy.Models.Donor

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{


<html>
<head>
    <style>
        textarea {
            width: 40%;
            height: 90px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            font-size: 16px;
            resize: none;
        }
    </style>

</head>

    <body>
    <p><a href="/Home/Index" class="btn btn-primary btn-lg">Go Back &laquo;</a></p><br>
    <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p><br>

    <center><h1>New Donor Registration</h1></center>

    <form>
        <fieldset>
            <legend>Personal Information</legend>

            <div class="1">
                <div class="col-sm-2">
                    First Name: <br>
                    <input type="text" name="FirstName">
                </div>

                <div class="col-sm-offset-3">
                    Last Name: <br>
                    <input type="text" name="LastName"></div>
             </div><br />

            <div class="2">
                <div class="col-sm-2">
                    Street Address: <br>
                    <input type="text" name="StreetAddress">
                </div>
                <div class="col-sm-offset-3">
                    City: <br>
                    <input type="text" name="City">
                </div>
            </div><br />

            <div class="3">
                <div class="col-sm-2">
                    @Html.DisplayNameFor(i => i.State)<text>:</text><br>
                    @Html.DropDownListFor(i => i.State, Model.StatesList) @Html.ValidationMessageFor(i => i.State)
                </div>

                <div class="col-sm-offset-3">
                    Zip:<br>
                    <input type="text" name="ZipCode"> </div>
                </div><br />

            <div class="4">
                <div class="col-sm-2">
                    County:<br>
                    <input type="text" name="County"></div>

                    <div class="col-sm-offset-3">
                        Date of Birth:<br>
                        <input type="date" name="Birthday"></div>
                    </div><br />

            <div class="5">
                <div class="col-sm-2">
                    Gender:<br>
                    <input type="radio" name="Gender" value="Male" checked> Male <br>
                    <input type="radio" name="Gender" value="Female"> Female <br>
                    <input type="radio" name="Gender" value="Other"> Other <br> </div>
                </div><br />
                <br /><br />

                <legend>Contact Information</legend>

            <div class="6">
                <div class="col-sm-2">
                    Cell Phone:<br>
                    <input type="text" name="CellPhoneNumber"></div>

                <div class="col-sm-offset-3">
                    Home Phone:<br>
                    <input type="text" name="HomePhoneNumber"></div>
                </div><br />   
             
            <div class="7">
                <div class="col-sm-2">
                    Business Phone:<br>
                    <input type="text" name="WorkPhoneNumber"></div>

                <div class="col-sm-offset-3">
                    Email:<br>
                    <input type="text" name="EmailAddress"></div>
                </div><br />
                <br /><br />

                    <legend>Employment Information</legend>

                    Company Name:<br>
                    <input type="text" name="CompanyName"><br><br>

                    Position:<br>
                    <input type="text" name="Position"><br><br>

                    Business Address:<br>
                    <input type="text" name="CompanyAddress"><br><br>

                    Business City:<br>
                    <input type="text" name="CompanyCity"><br><br>

                    @Html.DisplayNameFor(i => i.CompanyState)<text>:</text><br>
                    @Html.DropDownListFor(i => i.CompanyState, Model.StatesList) @Html.ValidationMessageFor(i => i.CompanyState) <br><br>

                    Business Zip:<br>
                    <input type="text" name="CompanyZip"><br><br><br><br>


                    <legend>Donation Information</legend>

                    Donation Date:<br>
                    <input type="date" name="DonationDate"><br><br>

                    Currency Donated:<br>
                    <input type="text" name="CurrencyDonation"><br><br>

                    Items Donated: <br><textarea type="text" name="ItemDonation"></textarea><br><br>

                    Services Donated: <br><textarea type="text" name="ServiceDonation"></textarea><br><br>

                    <button type="submit" class="btn btn-default">Submit</button>

</fieldset>
    </form>

</body>
</html>
}