@model IEnumerable<HopeTherapy.Models.Donor>
@{
    ViewBag.Title = "Donors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <html>
        <head>
        </head>
        <body>
            <p><a href="/Home/Index" class="btn btn-primary btn-lg">Go Back &laquo;</a></p><br>
            <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p><br>

            <center><h1>Donor list</h1></center>
            @using (Html.BeginForm("ListByLastName", "Donor", FormMethod.Post))
            {
                <label for="Search">Last Name</label>
                <input type="text" name="LastName" id="LastName" />
                <button type="submit">Search</button><br /><br />
            }
            @using (Html.BeginForm("ListByCounty", "Donor", FormMethod.Post))
            {
                <label for="Search2">County</label>
                <input type="text" name="County" id="County" />
                <button type="submit">Search</button><br /><br />
            }  
            <table border="1" style="margin: 0px auto;">
                <thead>
                    <tr>
                        <th>
                            Donor Name
                        </th>
                        <th>
                            Donor Email
                        </th>
                        <th>
                            Donations
                        </th>
                    </tr>
                </thead>
                @foreach (var Donor in Model)
                {
                    <tr>
                        <td>
                            <a href='@Url.Action("Edit", "Donor", new { ID = Donor.DonorID})'>@Donor.FirstName @Donor.LastName</a>
                            
                        </td>
                        <td>
                            <a href="mailto:@Donor.EmailAddress">@Donor.EmailAddress</a>
                        </td>
                        <td>
                           Donation Date: @Donor.DonationDate<br />
                           Money: @Donor.CurrencyDonation<br />
                           Inventory: @Donor.ItemDonation<br />
                           Services: @Donor.ServiceDonation
                        </td>
                    </tr>
                }

            </table>
        </body>
    </html> 

