@model IEnumerable<HopeTherapy.Models.Donor>
@{
    ViewBag.Title = "Donors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <html>
    <head>
    </head>
        <body>
            <p><a href="/Home/Index" class="btn btn-primary btn-lg">Go Back &raquo;</a></p>
            <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p>

            <center><h1>Donor list</h1></center>

            <center>
                <div class="col-sm-4">
                    @using (Html.BeginForm("ListByLastName", "Donor", FormMethod.Post))
                    {
                        <label for="Search">Last Name</label><br />
                        <input type="text" name="LastName" id="LastName" />
                        <button type="submit">Search</button><br /><br />
                    }
                </div>

                <div class="col-sm-4">
                    @using (Html.BeginForm("ListByCounty", "Donor", FormMethod.Post))
                    {
                        <label for="Search2">County</label><br />
                        <input type="text" name="County" id="County" />
                        <button type="submit">Search</button><br /><br />
                    }
                </div>

                <div class="col-sm-4">
                    @using (Html.BeginForm("ListByAll", "Donor", FormMethod.Post))
                    {
                        <label for="Search2">All</label><br />
                        <input type="text" name="All" id="All" />
                        <button type="submit">Search</button><br /><br />
                    }
                </div>
            </center>

                <center><p><a href="/Donor/List" class="btn btn-primary btn-lg">View All Donors &raquo;</a></p></center>

                @if (Utilities.IsNullOrEmpty(Model))
            {
                    <center><h1>Sorry but there aren't any results.</h1></center>
                }
                else
                {
                    <table border="1" style="margin: 0px auto;">
                        <thead style="font-size:23px">
                            <tr>
                                <th>
                                    Donor Name
                                </th>
                                <th>
                                    Donor Email
                                </th>
                                <th>
                                    Donations
                                </th>
                            </tr>
                        </thead>
                        @foreach (var Donor in Model)
                {
                            <tr>
                                <td>
                                    <a href='@Url.Action("Profile", "Donor", new { ID = Donor.DonorID })'>@Donor.FirstName @Donor.LastName</a>
                                    <a href='@Url.Action("Edit", "Donor", new { ID = Donor.DonorID })'><Font color="Green">Edit</Font></a>

                                </td>
                                <td>
                                    <a href="mailto:@Donor.EmailAddress">@Donor.EmailAddress</a>
                                </td>
                                <td>
                                    Donation Date: @Donor.DonationDate<br />
                                    Money: @Donor.CurrencyDonation<br />
                                    Inventory: @Donor.ItemDonation<br />
                                    Services: @Donor.ServiceDonation
                                </td>
                                <td><p><a href="@Url.Action("Delete", "Donor", new { ID = Donor.DonorID })" class="btn btn-primary btn-lg">Delete &raquo;</a></p></td>
                            </tr>
                        }

                    </table>
                }
</body>
    </html> 

