@model IEnumerable<HopeTherapy.Models.Donor>
@{
    ViewBag.Title = "Donors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <html>
    <head>
    </head>
        <body>
            <br />
            <p><a href="/Home/Index" class="btn btn-primary btn-lg">Go Back &raquo;</a></p>
            <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p>

            <center><h1>Donor list</h1></center>

            <center>
                <div class="col-sm-4">
                    @using (Html.BeginForm("ListByLastName", "Donor", FormMethod.Post))
                    {
                        <label for="Search">Last Name</label><br />
                        <input type="text" name="LastName" id="LastName" /><br />
                        <button type="submit" class="btn btn-primary">Search</button><br /><br />
                    }
                </div>

                <div class="col-sm-4">
                    @using (Html.BeginForm("ListByCounty", "Donor", FormMethod.Post))
                    {
                        <label for="Search2">County</label><br />
                        <input type="text" name="County" id="County" /><br />
                        <button type="submit" class="btn btn-primary">Search</button><br /><br />
                    }
                </div>

                <div class="col-sm-4">
                    @using (Html.BeginForm("ListByAll", "Donor", FormMethod.Post))
                    {
                        <label for="Search2">All</label><br />
                        <input type="text" name="All" id="All" /><br />
                        <button type="submit" class="btn btn-primary">Search</button><br /><br />
                    }
                </div>
            </center>

                <center><p><a href="/Donor/List" class="btn btn-primary btn-lg">View All Donors &raquo;</a></p></center>

                @if (Utilities.IsNullOrEmpty(Model))
            {
                    <center><h1>Sorry but there aren't any results.</h1></center>
                }
                else
                {
                    <table border="1" style="margin: 0px auto;">
                        <thead style="font-size:23px">
                            <tr>
                                <th>
                                    Donor Name
                                </th>
                                <th>
                                    Donor Email
                                </th>
                                <th>
                                    Donations
                                </th>
                            </tr>
                        </thead>
                        @foreach (var Donor in Model)
                {
                            <tr>
                                <td>
                                    <a href='@Url.Action("Profile", "Donor", new { ID = Donor.DonorID })' style="color:#935347">@Donor.FirstName @Donor.LastName</a>
                                    <a href='@Url.Action("Edit", "Donor", new { ID = Donor.DonorID })'><Font color="#30231d">Edit</Font></a>

                                </td>
                                <td>
                                    <a href="mailto:@Donor.EmailAddress" style="color:#935347">@Donor.EmailAddress</a>
                                </td>
                                <td>
                                    <p style="color:#30231d">
                                        Donation Date: @Donor.DonationDate.Date.Month <text>/</text> @Donor.DonationDate.Date.Day <text>/</text> @Donor.DonationDate.Date.Year <br />
                                    </p>
                                    <p><center><button class="btn btn-primary btn-lg" id="alertbtn" onclick="showAlert()">Delete &raquo;</button></center></p>
                                    <div class="alert" style="display:none" id="alert">
                                        This can not be undone!<br />
                                        <a href="@Url.Action("Delete", "Donor", new { ID = @Donor.DonorID })" class="btn btn-primary btn-md">Delete</a>
                                        <button class="btn btn-primary btn-md" id="closebtn" onclick="hideAlert()">Cancel</button><br />

                                    </div>
                                </td>
                            </tr>
                        }

                    </table>
                }
            <script>
            function hideAlert() {
                document.getElementById("alert").style.display = "none";
                document.getElementById("alertbtn").style.display = "block";
            }
            function showAlert() {
                document.getElementById("alert").style.display = "block";
                document.getElementById("alertbtn").style.display = "none";
            }
            </script>
</body>
    </html> 

