@model HopeTherapy.Models.Donor

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>

<body>
    <br />
    <p><a href="/Donor/List" class="btn btn-primary btn-lg">Go Back &laquo;</a></p>
    <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p>

    <h1>Donor Profile - <Font color="#856046">@Model.FirstName @Model.LastName</Font></h1>

    <form>
        <fieldset>
            <legend>Personal Information</legend><br />

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Address:</b></font> @Model.StreetAddress
                </div>
                <div class="col-sm-3">
                    <font size="4"><b>City:</b></font> @Model.City
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>State:</b></font> @Model.State
                </div>

                <div class="col-sm-3">
                    <font size="4"><b>Zip:</b></font> @Model.ZipCode
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>County:</b></font> @Model.County
                </div>

                <br /><br /></div><br /><br />

            <legend>Contact Information</legend>

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Cell Number:</b></font> @Model.CellPhoneNumber
                </div>

                <div class="col-sm-3">
                    <font size="4"><b>Home Phone:</b></font> @Model.HomePhoneNumber
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Work Phone:</b></font> @Model.WorkPhoneNumber
                </div>

                <div class="col-sm-3">
                    <font size="4"><b>Email:</b></font> @Model.EmailAddress
                </div>
            </div><br />
            <br /><br />

            <legend>Employment Information</legend>

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Company Name:</b></font> @Model.CompanyName
                </div>

                <div class="col-sm-3">
                    <font size="4"><b>Position:</b></font> @Model.Position
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Company Address:</b></font> @Model.CompanyAddress
                </div>

                <div class="col-sm-3">
                    <font size="4"><b>Company City:</b></font> @Model.CompanyCity
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Company State:</b></font> @Model.CompanyState
                </div>

                <div class="col-sm-3">
                    <font size="4"><b>Company Zip:</b></font> @Model.CompanyZip
                </div>
            </div><br />
            <br /><br />

            <legend>Donation Information</legend>

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Donation Date: </b></font> @Model.DonationDate.Date.Month <text>/</text> @Model.DonationDate.Date.Day <text>/</text> @Model.DonationDate.Date.Year
                </div>

                <div class="col-sm-3">
                    <font size="4"><b>Currency Donated:</b></font> <text>$</text> @Model.CurrencyDonation
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-12">
                    <font size="4"><b>Items Donated:</b></font> <br><textarea readonly type="text" name="ItemDonation">@Model.ItemDonation</textarea>
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-12">
                    <font size="4"><b>Services Donated:</b></font> <br><textarea readonly type="text" name="ServiceDonation">@Model.ServiceDonation</textarea>
                </div>
            </div><br />
        </fieldset>
        <p><a href="/Donor/List" class="btn btn-primary btn-lg">Go Back &laquo;</a></p>
    </form>

</body>
</html>

