<!DOCTYPE html>
<html>
<head>
    <style>
        textarea {
            width: 40%;
            height: 90px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #555555;
            border-radius: 6px;
            background-color: white;
            font-size: 16px;
            resize: none;
        }
    </style>

    <style>
        .button {
            background-color: white;
            color: black;
            border: 2px solid #555555;
            border-radius: 6px;
            font-size: 24px;
            padding: 2px 8px;
        }

            .button:hover {
                background-color: #555555;
                color: white;
            }
    </style>

    <style>
        input[type=text] {
            height: 30px;
            width: 200px;
            padding: 2px 6px;
            box-sizing: border-box;
            border: 2px solid #555555;
            border-radius: 3px;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hope Therapy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <header>
        <div class="container logo">
            <a href="/Home/Index">
                <img src="@Url.Content("~/Content/Images/HTlogo.png")" alt="Home" style="width:100px;height:100px;border:0;">
            </a>
            </div>
</header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.UtcNow.Year - Hope Therapy</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
