@model HopeTherapy.Models.Register

@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>Hope Therapy <small>IMS</small></h1>
</div>

@using (Html.BeginForm("Index", "Register", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(i => i.Username)
    @Html.EditorFor(i => i.Password)
    @Html.EditorFor(i => i.Email, "String")
    @Html.EditorFor(i => i.FirstName)
    @Html.EditorFor(i => i.LastName)
    @Html.EditorFor(i => i.AccessKey)

    <button type="submit" class="btn btn-default">Register</button>
}