@model HopeTherapy.Models.Register

@{
    ViewBag.Title = "Index";
}
<legend>Register</legend>
@using (Html.BeginForm("Index", "Register", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(i => i.Username)
    @Html.EditorFor(i => i.Password)
    @Html.EditorFor(i => i.Email, "String")
    @Html.EditorFor(i => i.FirstName)
    @Html.EditorFor(i => i.LastName)
    @Html.EditorFor(i => i.AccessKey)

    <button type="submit" class="btn btn-default">Register</button>

    <div>
        <p></p>
        <p><a href="/User/Login" class="btn btn-primary btn-lg">Log In &raquo;</a></p>
    </div>
}