@model HopeTherapy.Models.Register

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<hr />

@using (Html.BeginForm("Index", "Register", FormMethod.Post))
{ 
    @Html.AntiForgeryToken()

    @Html.DisplayNameFor(i => i.Username) @Html.EditorFor(i => i.Username) @Html.ValidationMessageFor(i => i.Username)<br />
    @Html.DisplayNameFor(i => i.Password) @Html.EditorFor(i => i.Password) @Html.ValidationMessageFor(i => i.Password) <br />
    @Html.DisplayNameFor(i => i.Email) @Html.EditorFor(i => i.Email) @Html.ValidationMessageFor(i => i.Email) <br />
    @Html.DisplayNameFor(i => i.FirstName) @Html.EditorFor(i => i.FirstName) @Html.ValidationMessageFor(i => i.FirstName) <br />
    @Html.DisplayNameFor(i => i.LastName) @Html.EditorFor(i => i.LastName) @Html.ValidationMessageFor(i => i.LastName) <br />
    @Html.DisplayNameFor(i => i.AccessKey) @Html.EditorFor(i => i.AccessKey) @Html.ValidationMessageFor(i => i.AccessKey) <br />

    <input type="submit" value="Go" />
}