@model HopeTherapy.Models.Register

@{
    ViewBag.Title = "Index";
}

<h2>Registration</h2>

<p> You submitted this:</p>
@*<p> Username: @Model.Username</p>
<p> Password: @Model.Password</p>*@
<hr />

@using (Html.BeginForm("Index", "Register", FormMethod.Post))
{
    <table>
        <tr>
            <td>@Html.DisplayNameFor(i => i.Username)</td>
            <td>@Html.EditorFor(i => i.Username) @Html.ValidationMessageFor(i => i.Username)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(i => i.Password)</td>
            <td>@Html.EditorFor(i => i.Password) @Html.ValidationMessageFor(i => i.Password)</td>
        <tr />
        <tr>
            <td>@Html.DisplayNameFor(i => i.Email)</td>
            <td>@Html.EditorFor(i => i.Email) @Html.ValidationMessageFor(i => i.Email)</td>
        </tr>
        <tr>
             <td>@Html.DisplayNameFor(i => i.FirstName)</td>
             <td>@Html.EditorFor(i => i.FirstName) @Html.ValidationMessageFor(i => i.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(i => i.LastName)</td>
            <td>@Html.EditorFor(i => i.LastName) @Html.ValidationMessageFor(i => i.LastName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(i => i.AccessKey)</td>
            <td>@Html.EditorFor(i => i.AccessKey) @Html.ValidationMessageFor(i => i.AccessKey)</td>
        </tr>
        <tr>
            <td><input type="submit" value="Go" /></td>
        </tr>
    </table>
}
