
@model HopeTherapy.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        textarea {
            width: 40%;
            height: 90px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #555555;
            border-radius: 6px;
            background-color: white;
            font-size: 16px;
            resize: none;
        }
    </style>

    <style>
        .button {
            background-color: white;
            color: black;
            border: 2px solid #555555;
            border-radius: 6px;
            font-size: 24px;
            padding: 2px 8px;
        }

            .button:hover {
                background-color: #555555;
                color: white;
            }
    </style>

    <style>
        input[type=text] {
            height: 30px;
            width: 200px;
            padding: 2px 6px;
            box-sizing: border-box;
            border: 2px solid #555555;
            border-radius: 3px;
        }
    </style>
</head>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Login failed. Check your login details.");
        <div>
            <fieldset>
                <legend>Login</legend>
                <div class="editor-label">
                    @Html.LabelFor(u => u.UserName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(u => u.UserName)
                    @Html.ValidationMessageFor(u => u.UserName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(u => u.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(u => u.Password)
                    @Html.ValidationMessageFor(u => u.Password)
                </div>
                <div class="editor-label">
                    @Html.CheckBoxFor(u => u.RememberMe)
                    @Html.LabelFor(u => u.RememberMe)
                </div>
                <input type="submit" value="Log In" />
            </fieldset>
        </div>
        <div>
            <p></p>
            <p><a href="/Register/Index" class="btn btn-primary btn-lg">Register &raquo;</a></p>
        </div>
    }
