@model HopeTherapy.Models.Volunteer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="~/scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="~/scripts/jquery.maskedinput.js" type="text/javascript"></script>
</head>
<body>
    <br />
    <p><a href="/Volunteer/List" class="btn btn-primary btn-lg">Go Back &laquo;</a></p>
    <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p>

    <center><h2>Edit Volunteer</h2></center>

    @using (Html.BeginForm("EditVolunteer", "Volunteer", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        //< class="form-horizontal">
            <h4></h4>
            @Html.HiddenFor(model => model.VolunteerID)
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <legend>Personal Information</legend>
            <div class="row">
                <div class="col-sm-3">
                    @Html.DisplayNameFor(i => i.FirstName)<text>:</text><br>
                    @Html.TextBoxFor(i => i.FirstName, new { @class = "form-control", placeholder = "First Name", required = "required" })
                    @Html.ValidationMessageFor(i => i.FirstName)
                </div>
                <div class="col-sm-3">
                    @Html.DisplayNameFor(i => i.LastName)<text>:</text><br>
                    @Html.TextBoxFor(i => i.LastName, new { @class = "form-control", placeholder = "Last Name", required = "required" })
                    @Html.ValidationMessageFor(i => i.LastName)
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-3">
                    @Html.EditorFor(model => model.StreetAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StreetAddress, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-3">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    @Html.DisplayNameFor(i => i.States)<br />
                    @Html.DropDownListFor(i => i.States, Model.StatesList) @Html.ValidationMessageFor(i => i.States)
                </div>

                <div class="col-sm-3">
                    @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    @Html.DisplayNameFor(i => i.County)<text>:</text><br>
                    @Html.TextBoxFor(i => i.County, new { @class = "form-control", placeholder = "County", required = "required" })
                    @Html.ValidationMessageFor(i => i.County)
                </div>

                <div class="col-sm-3">
                    @Html.DisplayNameFor(i => i.Birthday)<text>:</text><br>
                    @Html.EditorFor(i => i.Birthday, new { @class = "form-control", placeholder = "Birthday", required = "required" })<br />
                    @Html.ValidationMessageFor(i => i.Birthday)
                </div>
            </div><br/>

            <div class="row">
                <div class="col-sm-3">
                    @Html.DisplayNameFor(i => i.Gender)<text>:</text><br>
                    @Html.RadioButtonFor(model => model.Gender, "M", false)@Html.Label("Male")<br />
                    @Html.RadioButtonFor(model => model.Gender, "F", false)@Html.Label("Female")<br />
                    @Html.RadioButtonFor(model => model.Gender, "Other", false)@Html.Label("Other")<br />
                    @Html.ValidationMessageFor(i => i.Gender)
                </div>
            </div><br />

            <legend>Contact Information</legend>
            <div class="row">
                <div class="col-sm-3">
                    Cell Phone:<br>
                    <input id="cphone" type="text" name="CellPhoneNumber" value="@Model.CellPhoneNumber">
                </div>

                <div class="col-sm-3">
                    Home Phone:<br>
                    <input id="hphone" type="text" name="HomePhoneNumber" value="@Model.HomePhoneNumber">
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-3">
                    Business Phone:<br>
                    <input id="wphone" type="text" name="WorkPhoneNumber" value="@Model.WorkPhoneNumber">
                </div>
                <div class="col-sm-3">
                    @Html.DisplayNameFor(i => i.Email)<text>:</text><br>
                    @Html.EditorFor(i => i.Email, new { @class = "form-control", placeholder = "Email", required = "required" })<br />
                    @Html.ValidationMessageFor(i => i.Email)
                </div>
            </div><br />

            <legend>Employment Information</legend>

            <div class="row">
                <div class="col-sm-3">
                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-3">
                    @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    @Html.EditorFor(model => model.CompanyAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CompanyAddress, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <legend>Volunteer Information</legend>

            <div class="row">
                <div class="col-sm-3">
                    @Html.DisplayNameFor(i => i.DateOrientation)<text>:</text><br>
                    @Html.EditorFor(i => i.DateOrientation, new { @class = "form-control", placeholder = "Orientation Date", required = "required" })<br />
                    @Html.ValidationMessageFor(i => i.DateOrientation)
                </div>

                <div class="col-sm-3">
                    @Html.DisplayNameFor(i => i.DateStarted)<text>:</text><br>
                    @Html.EditorFor(i => i.DateStarted, new { @class = "form-control", placeholder = "Orientation Date", required = "required" })<br />
                    @Html.ValidationMessageFor(i => i.DateStarted)
                </div>
            </div><br/>

            <div class="row">
                <div class="col-sm-3">
                    @Html.EditorFor(i => i.HoursPerMonth)
                    @Html.ValidationMessageFor(i => i.HoursPerMonth)
                </div>

                <div class="col-sm-3">
                    @Html.DisplayNameFor(i => i.VolunteerPosition)<text>:</text><br>
                    @Html.DropDownListFor(i => i.VolunteerPosition, Model.VolunteerPositions) @Html.ValidationMessageFor(i => i.VolunteerPosition) <br><br />

                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    @Html.EditorFor(model => model.AreaOfInterest, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AreaOfInterest, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-3">
                    @Html.EditorFor(model => model.Skills, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Skills, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    @Html.DisplayNameFor(i => i.Donor)<text>:</text><br>
                    @Html.RadioButtonFor(model => model.Donor, "Y", false)@Html.Label("Yes")<br />
                    @Html.RadioButtonFor(model => model.Donor, "N", false)@Html.Label("No")<br />
                    @Html.ValidationMessageFor(i => i.Donor)
                </div>

                <div class="col-sm-3">
                    @Html.DisplayNameFor(i => i.Board)<text>:</text><br>
                    @Html.RadioButtonFor(model => model.Board, "Y", false)@Html.Label("Yes")<br />
                    @Html.RadioButtonFor(model => model.Board, "N", false)@Html.Label("No")<br />
                    @Html.ValidationMessageFor(i => i.Board)
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-3">
                    @Html.DisplayNameFor(i => i.EmailList)<text>:</text><br>
                    @Html.RadioButtonFor(model => model.EmailList, "Y", false)@Html.Label("Yes")<br />
                    @Html.RadioButtonFor(model => model.EmailList, "N", false)@Html.Label("No")<br />
                    @Html.ValidationMessageFor(i => i.EmailList)
                </div>

                <div class="col-sm-3">
                    @Html.DisplayNameFor(i => i.MailList)<text>:</text><br>
                    @Html.RadioButtonFor(model => model.MailList, "Y", false)@Html.Label("Yes")<br />
                    @Html.RadioButtonFor(model => model.MailList, "N", false)@Html.Label("No")<br />
                    @Html.ValidationMessageFor(i => i.MailList)
                </div>
            </div><br/>

            <div class="row">
                    <div class="col-sm-3">
                        <p><b>Weekly Schedule:</b></p>
                        @Html.DisplayNameFor(i => i.Monday)<text>:</text>
                        @Html.CheckBoxFor(m => m.Monday, new { @checked = "checked" })<br />
                        @Html.DisplayNameFor(i => i.Tuesday)<text>:</text>
                        @Html.CheckBoxFor(m => m.Tuesday, new { @checked = "checked" })<br />
                        @Html.DisplayNameFor(i => i.Wednesday)<text>:</text>
                        @Html.CheckBoxFor(m => m.Wednesday, new { @checked = "checked" })<br />
                        @Html.DisplayNameFor(i => i.Thursday)<text>:</text>
                        @Html.CheckBoxFor(m => m.Thursday, new { @checked = "checked" })<br />
                        @Html.DisplayNameFor(i => i.Friday)<text>:</text>
                        @Html.CheckBoxFor(m => m.Friday, new { @checked = "checked" })<br />
                        @Html.DisplayNameFor(i => i.Saturday)<text>:</text>
                        @Html.CheckBoxFor(m => m.Saturday, new { @checked = "checked" })<br />
                        @Html.DisplayNameFor(i => i.Sunday)<text>:</text>
                        @Html.CheckBoxFor(m => m.Sunday, new { @checked = "checked" })<br />
                    </div>
                </div><br />
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="button button">Save</button>
                </div>
            </div><br />
        //</div>
    }
    <script type="text/javascript">
                jQuery(function ($) {
                    $("#cphone").mask("(999) 999-9999");
                    $("#hphone").mask("(999) 999-9999");
                    $("#wphone").mask("(999) 999-9999");

                });
    </script>
</body>