@model HopeTherapy.Models.Volunteer

@{
    ViewBag.Title = "Index";
}

<head>
</head>

    <p><a href="/Home/Index" class="btn btn-primary btn-lg">Go Back &laquo;</a></p>
    <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p>

    <center><h1>New Volunteer Registration</h1></center>

    @using (Html.BeginForm("Index", "Volunteer", FormMethod.Post))
    {
        <form>
            <fieldset>
                <legend>Personal Information</legend>

                <div class="row">
                    <div class="col-sm-3">@Html.EditorFor(i => i.FirstName) @Html.ValidationMessageFor(i => i.FirstName)</div>
                    <div class="col-sm-3"> @Html.EditorFor(i => i.LastName) @Html.ValidationMessageFor(i => i.LastName) </div>
                </div><br />

                <div class="row">
                    <div class="col-sm-3">@Html.EditorFor(i => i.StreetAddress) @Html.ValidationMessageFor(i => i.StreetAddress)</div>
                    <div class="col-sm-3">@Html.EditorFor(i => i.City) @Html.ValidationMessageFor(i => i.City)</div>
                </div><br />

                <div class="row">
                    <div class="col-sm-3">
                        @Html.DisplayNameFor(i => i.States)<br />
                        @Html.DropDownListFor(i => i.States, Model.StatesList) @Html.ValidationMessageFor(i => i.States)
                    </div>

                    <div class="col-sm-3">
                        @Html.EditorFor(i => i.ZipCode) @Html.ValidationMessageFor(i => i.ZipCode)
                    </div>
                </div><br />

                <div class="row">
                    <div class="col-sm-3">
                        @Html.EditorFor(i => i.County) @Html.ValidationMessageFor(i => i.County)
                    </div>

                    <div class="col-sm-3">
                        @Html.DisplayNameFor(i => i.Birthday)<text>:</text><br>
                        <input type="date" name="Birthday">
                    </div>
                </div><br />

                <div class="row">
                    <div class="col-sm-3">
                        @Html.DisplayNameFor(i => i.Gender)<text>:</text><br>
                        @Html.RadioButtonFor(model => model.Gender, "M", false)@Html.Label("Male")<br />
                        @Html.RadioButtonFor(model => model.Gender, "F", false)@Html.Label("Female")<br />
                        @Html.RadioButtonFor(model => model.Gender, "Other", false)@Html.Label("Other")<br /><br />
                    </div>
                </div><br />

                <legend>Contact Information</legend>

                <div class="row">
                    <div class="col-sm-3">
                        @Html.EditorFor(i => i.CellPhoneNumber) @Html.ValidationMessageFor(i => i.CellPhoneNumber)
                    </div>
                    <div class="col-sm-3">
                        @Html.EditorFor(i => i.HomePhoneNumber) @Html.ValidationMessageFor(i => i.HomePhoneNumber)
                    </div>
                </div><br />

                <div class="row">
                    <div class="col-sm-3">
                        @Html.EditorFor(i => i.WorkPhoneNumber) @Html.ValidationMessageFor(i => i.WorkPhoneNumber)
                    </div>
                    <div class="col-sm-3">
                        @Html.EditorFor(i => i.Email) @Html.ValidationMessageFor(i => i.Email)
                    </div>
                </div><br />


                <legend>Employment Information</legend>

                <div class="row">
                    <div class="col-sm-3">
                        @Html.EditorFor(i => i.CompanyName) @Html.ValidationMessageFor(i => i.CompanyName)
                    </div>
                    <div class="col-sm-3">
                        @Html.EditorFor(i => i.Position) @Html.ValidationMessageFor(i => i.Position)
                    </div>
                </div><br />

                <div class="row">
                    <div class="col-sm-3">
                        @Html.EditorFor(i => i.CompanyAddress) @Html.ValidationMessageFor(i => i.CompanyAddress)
                    </div>
                    <div class="col-sm-3">
                        @Html.EditorFor(i => i.CompanyZip) @Html.ValidationMessageFor(i => i.CompanyZip)
                    </div>
                </div><br />

                <legend>Volunteer Information</legend>

                <div class="row">
                    <div class="col-sm-3">
                        @Html.DisplayNameFor(i => i.DateOrientation)<text>:</text><br />
                        <input type="date" name="DateOrientation">
                    </div>
                    <div class="col-sm-3">
                        @Html.DisplayNameFor(i => i.DateStarted)<text>:</text><br />
                        <input type="date" name="DateStarted">
                    </div>
                </div><br />

                <div class="row">
                    <div class="col-sm-3">
                        @Html.EditorFor(i => i.HoursPerMonth) @Html.ValidationMessageFor(i => i.HoursPerMonth)
                    </div>
                    <div class="col-sm-3">
                        @Html.DisplayNameFor(i => i.VolunteerPosition)<text>:</text><br>
                        @Html.DropDownListFor(i => i.VolunteerPosition, Model.VolunteerPositions) @Html.ValidationMessageFor(i => i.VolunteerPosition)
                    </div>
                </div><br />

                <div class="row">
                    <div class="col-sm-3">
                        @Html.EditorFor(i => i.AreaOfInterest) @Html.ValidationMessageFor(i => i.AreaOfInterest)
                    </div>
                    <div class="col-sm-3">
                        @Html.EditorFor(i => i.Skills) @Html.ValidationMessageFor(i => i.Skills)
                    </div>
                </div><br />

                <div class="row">
                    <div class="col-sm-3">
                        @Html.DisplayNameFor(i => i.Donor)<text>:</text><br>
                        @Html.RadioButtonFor(model => model.Donor, "Y", false)@Html.Label("Yes")<br />
                        @Html.RadioButtonFor(model => model.Donor, "N", false)@Html.Label("No")
                    </div>
                    <div class="col-sm-3">
                        @Html.DisplayNameFor(i => i.Board)<text>:</text><br>
                        @Html.RadioButtonFor(model => model.Board, "Y", false)@Html.Label("Yes")<br />
                        @Html.RadioButtonFor(model => model.Board, "N", false)@Html.Label("No")
                    </div>
                </div><br />

                <div class="row">
                    <div class="col-sm-3">
                        @Html.DisplayNameFor(i => i.EmailList)<text>:</text><br>
                        @Html.RadioButtonFor(model => model.EmailList, "Y", false)@Html.Label("Yes")<br />
                        @Html.RadioButtonFor(model => model.EmailList, "N", false)@Html.Label("No")
                    </div>
                    <div class="col-sm-3">
                        @Html.DisplayNameFor(i => i.MailList)<text>:</text><br>
                        @Html.RadioButtonFor(model => model.MailList, "Y", false)@Html.Label("Yes")<br />
                        @Html.RadioButtonFor(model => model.MailList, "N", false)@Html.Label("No")
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-sm-3">
                        <p><b>Weekly Schedule:</b></p>
                        @Html.DisplayNameFor(i => i.Monday)<text>:</text>
                        @Html.CheckBoxFor(m => m.Monday, new { @checked = "checked" })<br />
                        @Html.DisplayNameFor(i => i.Tuesday)<text>:</text>
                        @Html.CheckBoxFor(m => m.Tuesday, new { @checked = "checked" })<br />
                        @Html.DisplayNameFor(i => i.Wednesday)<text>:</text>
                        @Html.CheckBoxFor(m => m.Wednesday, new { @checked = "checked" })<br />
                        @Html.DisplayNameFor(i => i.Thursday)<text>:</text>
                        @Html.CheckBoxFor(m => m.Thursday, new { @checked = "checked" })<br />
                        @Html.DisplayNameFor(i => i.Friday)<text>:</text>
                        @Html.CheckBoxFor(m => m.Friday, new { @checked = "checked" })<br />
                        @Html.DisplayNameFor(i => i.Saturday)<text>:</text>
                        @Html.CheckBoxFor(m => m.Saturday, new { @checked = "checked" })<br />
                        @Html.DisplayNameFor(i => i.Sunday)<text>:</text>
                        @Html.CheckBoxFor(m => m.Sunday, new { @checked = "checked" })<br />
                    </div>
                </div><br />
                <input type="submit" value="Submit" />
            </fieldset>
        </form>
    }


