@model HopeTherapy.Models.Volunteer
   
@{
    ViewBag.Title = "Index";
}
<h2>Volunteer</h2>

<p> Please fill out the following information on the volunteer</p>

<hr />
@using (Html.BeginForm("Index", "Volunteer", FormMethod.Post))
{

    @Html.EditorFor(i => i.FirstName) @Html.ValidationMessageFor(i => i.FirstName) <br />
    @Html.EditorFor(i => i.LastName) @Html.ValidationMessageFor(i => i.LastName) <br />
    @Html.DropDownListFor(i => i.Salutation, new List<SelectListItem>
    {
                        new SelectListItem() {Text = "Mr", Value="Mr"},
                        new SelectListItem() {Text = "Mrs", Value="Mrs"},
                        new SelectListItem() {Text = "Ms", Value="Ms"},
                        new SelectListItem() {Text = "Miss", Value="Miss"},

    })<br />
    @Html.EditorFor(i => i.StreetAddress) @Html.ValidationMessageFor(i => i.StreetAddress) <br />
    @Html.EditorFor(i => i.City) @Html.ValidationMessageFor(i => i.City) <br />
    @Html.EditorFor(i => i.States) @Html.ValidationMessageFor(i => i.States) <br />
    @Html.EditorFor(i => i.ZipCode) @Html.ValidationMessageFor(i => i.ZipCode) <br />
    @Html.EditorFor(i => i.County) @Html.ValidationMessageFor(i => i.County) <br />
    @Html.EditorFor(i => i.CellPhoneNumber) @Html.ValidationMessageFor(i => i.CellPhoneNumber) <br />
    @Html.EditorFor(i => i.HomePhoneNumber) @Html.ValidationMessageFor(i => i.HomePhoneNumber) <br />
    @Html.EditorFor(i => i.WorkPhoneNumber) @Html.ValidationMessageFor(i => i.WorkPhoneNumber) <br />
    @Html.EditorFor(i => i.Email) @Html.ValidationMessageFor(i => i.Email) <br />
    @Html.DropDownListFor(i => i.Gender, new List<SelectListItem>
    {
            
                        new SelectListItem() {Text = "Male", Value="M"},
                        new SelectListItem() {Text = "Female", Value="F"},

    })<br />
    @Html.EditorFor(i => i.Job) @Html.ValidationMessageFor(i => i.Job) <br />
    @Html.EditorFor(i => i.DateOrientation) @Html.ValidationMessageFor(i => i.DateOrientation) <br />
    @Html.EditorFor(i => i.DateStarted) @Html.ValidationMessageFor(i => i.DateStarted) <br />
    @Html.EditorFor(i => i.HoursPerMonth) @Html.ValidationMessageFor(i => i.HoursPerMonth) <br />
    /*  @Html.DisplayNameFor(i => i.CompanyName) @Html.EditorFor(i => i.CompanyName) @Html.ValidationMessageFor(i => i.CompanyName) <br />
      @Html.DisplayNameFor(i => i.Position) @Html.EditorFor(i => i.Position) @Html.ValidationMessageFor(i => i.Position) <br />
      @Html.DisplayNameFor(i => i.CompanyAddress) @Html.EditorFor(i => i.CompanyAddress) @Html.ValidationMessageFor(i => i.CompanyAddress) <br />
      @Html.DisplayNameFor(i => i.VolunteerDays) @Html.EditorFor(i => i.VolunteerDays) @Html.ValidationMessageFor(i => i.VolunteerDays) <br />
      @Html.DisplayNameFor(i => i.VolunteerPosition) @Html.EditorFor(i => i.VolunteerPosition) @Html.ValidationMessageFor(i => i.VolunteerPosition) <br />
      //@Html.DisplayNameFor(i => i.HoursVolunteered) @Html.EditorFor(i => i.HoursVolunteered) @Html.ValidationMessageFor(i => i.HoursVolunteered) <br />
      @Html.DisplayNameFor(i => i.AreaOfInterest) @Html.EditorFor(i => i.AreaOfInterest) @Html.ValidationMessageFor(i => i.AreaOfInterest) <br />
      @Html.DisplayNameFor(i => i.Skills) @Html.EditorFor(i => i.Skills) @Html.ValidationMessageFor(i => i.Skills) <br />
      @Html.DisplayNameFor(i => i.Donor)@Html.DropDownListFor(i => i.Donor, new List<SelectListItem>
      {
          new SelectListItem() { Text = "Yes", Value = "Yes" },
                          new SelectListItem() { Text = "No", Value = "No" },

      })<br />
      @Html.DisplayNameFor(i => i.Board)@Html.DropDownListFor(i => i.Board, new List<SelectListItem>
      {
                          new SelectListItem() {Text = "Yes", Value="Yes"},
                          new SelectListItem() {Text = "No", Value="No"},

      })<br />
      @Html.DisplayNameFor(i => i.EmailList)@Html.DropDownListFor(i => i.EmailList, new List<SelectListItem>
      {
                          new SelectListItem() {Text = "Yes", Value="Yes"},
                          new SelectListItem() {Text = "No", Value="No"},

      })<br />
      @Html.DisplayNameFor(i => i.MailList)@Html.DropDownListFor(i => i.MailList, new List<SelectListItem>
      {
                          new SelectListItem() {Text = "Yes", Value="Yes"},
                          new SelectListItem() {Text = "No", Value="No"},*/


    <input type="submit" value="Submit" />
}


