@model IEnumerable<HopeTherapy.Models.Volunteer>
@{
    ViewBag.Title = "Volunteers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <html>
    <head>
        <script>
            function setList() {
                var list=document.getElementById('Day');
                selectItemByValue(list, "@ViewBag.SearchDay");
            function selectItemByValue(elmnt, value) {
                for (var i = 0; i < elmnt.options.length; i++) {
                    if (elmnt.options[i].value == value)
                        elmnt.selectedIndex = i;
                    }
                }
            }
        </script>
    </head>
    <body onload="setList()">
        <br />
        <p><a href="/Home/Index" class="btn btn-primary btn-lg">Go Back &laquo;</a></p>
        <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p>

        <center><h1>Volunteer List</h1></center>
        <center>
            <div class="col-sm-3">
                @using (Html.BeginForm("ListByLastName", "Volunteer", FormMethod.Post))
                {
                    <label for="Search">Last Name:</label><br />
                    <input type="text" name="LastName" id="LastName" /><br /><br />
                    <button type="submit" class="btn btn-primary btn-lg">Search</button><br /><br />
                }
            </div>
            <div class="col-sm-3">
                @using (Html.BeginForm("ListByCounty", "Volunteer", FormMethod.Post))
                {
                    <label for="Search2">County:</label><br />
                    <input type="text" name="County" id="County" /><br /><br />
                    <button type="submit" class="btn btn-primary btn-lg">Search</button><br /><br />
                }
            </div>
            <div class="col-sm-3">
                @using (Html.BeginForm("ListByAll", "Volunteer", FormMethod.Post))
                {
                    <label for="Search2">Anything:</label><br />
                    <input type="text" name="All" id="All" /><br /><br />
                    <button type="submit" class="btn btn-primary btn-lg">Search</button><br /><br />
                }
            </div>

            <div class="col-sm-3">
                @using (Html.BeginForm("ListByDay", "Volunteer", FormMethod.Post))
                {
                    <label>Work Day</label><br />
                                <select name="Day" id="Day">
                                    <option> </option>
                                    <option>Sunday</option>
                                    <option>Monday</option>
                                    <option>Tuesday</option>
                                    <option>Wednesday</option>
                                    <option>Thursday</option>
                                    <option>Friday</option>
                                    <option>Saturday</option>
                                </select>
                    <br />
                    <br />
                    <button type="submit" class="btn btn-primary btn-lg">Search</button><br /><br />
                }
            </div>

            <p>&nbsp;</p>

            <div class="col-sm-4">
                @using (Html.BeginForm("EmailList", "Volunteer", FormMethod.Post))
                {
                    <label for="Email List"></label>
                    <button type="submit" class="btn btn-primary btn-lg">Email List</button>
                }
            </div>

            <div class="col-sm-4">
                <a href="/Volunteer/List" class="btn btn-primary btn-lg">View All</a>
            </div>

            <div class="col-sm-4">
                @using (Html.BeginForm("MailList", "Volunteer", FormMethod.Post))
                {
                    <label for="Mail List"></label>
                    <button type="submit" class="btn btn-primary btn-lg">Mail List</button>
                }
            </div>
        </center>

        <p>&nbsp;</p>

        @if (Utilities.IsNullOrEmpty(Model) || Model.First().LastName == null)
        {
            <center><h1>Sorry but there aren't any results.</h1></center>
        }
        else
        {
            <table border="1" style="margin: 0px auto;">
                <thead style="font-size:23px">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Volunteer Email
                        </th>
                        <th>
                            Work Days
                        </th>
                        <th>
                            Hours per Month
                        </th>
                    </tr>
                </thead>
                @foreach (var Volunteer in Model)
                {
                    <tr>
                        <td>
                            <a href='@Url.Action("Profile", "Volunteer", new { ID = @Volunteer.VolunteerID })' style="color:#935347">@Volunteer.FirstName @Volunteer.LastName</a>
                            <a href='@Url.Action("Edit", "Volunteer", new { ID = @Volunteer.VolunteerID })'><Font color="#30231d">Edit</Font></a>

                        </td>
                        <td>
                            <a href="mailto:@Volunteer.Email" style="color:#935347">@Volunteer.Email</a>
                        </td>
                        <td>
                            @foreach (var Day in Volunteer.Schedule())
                            {
                                <p>@Day</p>
                            }
                        </td>
                        <td>
                            <p style="color:#30231d">@Volunteer.HoursPerMonth</p>
                            <p><center><button class="btn btn-primary btn-lg" id="alertbtn @Volunteer.VolunteerID" onclick="document.getElementById('@Volunteer.VolunteerID').style.display = 'block' ; this.style.display = 'none'">Delete &raquo;</button></center></p>
                            <div class="alert @Volunteer.VolunteerID" style="display:none" id="@Volunteer.VolunteerID">
                                This can not be undone!<br />
                                <a href="@Url.Action("Delete", "Volunteer", new { ID = @Volunteer.VolunteerID })" class="btn btn-primary btn-md">Delete</a>
                                <button class="btn btn-primary btn-md" id="closebtn" onclick="document.getElementById('alertbtn @Volunteer.VolunteerID').style.display = 'block' ; document.getElementById('@Volunteer.VolunteerID').style.display = 'none'">Cancel</button><br />

                            </div>
                        </td>
                    </tr>
                }
            </table>
        }
        <script>
            function hideAlert() {
                document.getElementById("alert").style.display = "none";
                document.getElementById("alertbtn").style.display = "block";
            }
            function showAlert() {
            }
        </script>
    </body>
</html>


