@model IEnumerable<HopeTherapy.Models.Volunteer>
@{
    ViewBag.Title = "Volunteers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <html>
    <head>
    </head>
    <body>
        <p><a href="/Home/Index" class="btn btn-primary btn-lg">Go Back &raquo;</a></p>
        <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p>

        <center><h1>Volunteer List</h1></center>
        @using (Html.BeginForm("ListByLastName", "Volunteer", FormMethod.Post))
        {
            <label for="Search">Last Name</label><br />
            <input type="text" name="LastName" id="LastName" />
            <button type="submit">Search</button><br /><br />
        }
        @using (Html.BeginForm("ListByCounty", "Volunteer", FormMethod.Post))
        {
            <label for="Search2">County</label><br />
            <input type="text" name="County" id="County" />
            <button type="submit">Search</button><br /><br />
        }
            <table border="1" style="margin: 0px auto;">
                <thead style="font-size:23px">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Donor Email
                        </th>
                        <th colspan="2">
                            Hours per Month
                        </th>
                    </tr>
                </thead>
                @foreach (var Volunteer in Model)
                {
                    <tr>
                        <td>
                            <a href='@Url.Action("Edit", "Volunteer", new { ID = @Volunteer.VolunteerID})'>@Volunteer.FirstName @Volunteer.LastName</a>

                        </td>
                        <td>
                            <a href="mailto:@Volunteer.Email">@Volunteer.Email</a>
                        </td>
                        <td>
                            @Volunteer.HoursPerMonth
                        </td>
                        <td>
                            <p><a href="@Url.Action("Delete", "Volunteer", new { ID = @Volunteer.VolunteerID})" class="btn btn-primary btn-lg">Delete &raquo;</a></p>
                        </td>
                    </tr>
                }
            </table>

</body>
</html>


