@model HopeTherapy.Models.Volunteer

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>

<body>
    <br />
    <p><a href="/Volunteer/List" class="btn btn-primary btn-lg">Go Back &laquo;</a></p>
    <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p>

    <h1>Volunteer Profile - <Font color="#856046">@Model.FirstName @Model.LastName</Font></h1>

    <form>
        <fieldset>
            <legend>Personal Information</legend><br />

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Address:</b></font> @Model.StreetAddress
                </div>
                <div class="col-sm-3">
                    <font size="4"><b>City:</b></font> @Model.City
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>State:</b></font> @Model.States
                </div>

                <div class="col-sm-3">
                    <font size="4"><b>Zip:</b></font> @Model.ZipCode
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>County:</b></font> @Model.County
                </div>

                <div class="col-sm-3">
                    <font size="4"><b>Birthday:</b></font> @Model.Birthday.Date.Month <text>/</text> @Model.Birthday.Date.Day <text>/</text> @Model.Birthday.Date.Year
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Gender:</b></font> @Model.Gender
                </div><br />
            </div>
            <br />
            <legend>Contact Information</legend>

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Cell Phone Number:</b></font> @Model.CellPhoneNumber
                </div>

                <div class="col-sm-3">
                    <font size="4"><b>Home Phone:</b></font> @Model.HomePhoneNumber
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Work Phone:</b></font> @Model.WorkPhoneNumber
                </div>

                <div class="col-sm-3">
                    <font size="4"><b>Email:</b></font> @Model.Email
                </div>
            </div><br />
            <br /><br />

            <legend>Employment Information</legend>

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Company Name:</b></font> @Model.CompanyName
                </div>

                <div class="col-sm-3">
                    <font size="4"><b>Position:</b></font> @Model.Position
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Company Address:</b></font> @Model.CompanyAddress
                </div>

                <div class="col-sm-3">
                    <font size="4"><b>Company Zip:</b></font> @Model.CompanyZip
                </div>
            </div><br />
            <br /><br />
            <legend>Volunteer Information</legend>

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Orientation Date:</b></font> @Model.DateOrientation.Date.Month <text>/</text> @Model.DateOrientation.Date.Day <text>/</text> @Model.DateOrientation.Date.Year
                </div>
                <div class="col-sm-3">
                    <font size="4"><b>Start Date:</b></font> @Model.DateStarted.Date.Month <text>/</text> @Model.DateStarted.Date.Day <text>/</text> @Model.DateStarted.Date.Year
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Hours Per Month:</b></font> @Model.HoursPerMonth
                </div>
                <div class="col-sm-3">
                    <font size="4"><b>Volunteer Position:</b></font> @Model.VolunteerPosition
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Area of interest:</b></font> @Model.AreaOfInterest
                </div>
                <div class="col-sm-3">
                    <font size="4"><b>Skills:</b></font> @Model.Skills
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Donor?:</b></font> @Model.Donor
                </div>
                <div class="col-sm-3">
                    <font size="4"><b>Board?:</b></font> @Model.Board
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-3">
                    <font size="4"><b>Email List?:</b></font> @Model.EmailList


                </div>
                <div class="col-sm-3">
                    <font size="4"><b>Mail List?:</b></font> @Model.MailList
                </div>
            </div><br />
            <p><a href="/Volunteer/List" class="btn btn-primary btn-lg">Go Back &laquo;</a></p>
            <table cellpadding="8" border="1">
                <thead><tr><th colspan="7">Volunteer Schedule:</th></tr></thead>
                <tr>
                <th style="text-align:center">Sunday</th>
                <th style="text-align:center">Monday</th>
                <th style="text-align:center">Tuesday</th>
                <th style="text-align:center">Wednesday</th>
                <th style="text-align:center">Thursday</th>
                <th style="text-align:center">Friday</th>
                <th style="text-align:center">Saturday</th>
                </tr>
                <tr>

                    @for (var i = 1; i < 8; i++)
                    {
                        <td>
                            @foreach (var Day in Model.dayList)
                            {

                                if (Model.dayNum(Day)==i)
                                {
                                    <p style="color:#856046">✔</p>
                                }
                            }
                        </td>
                    }
                </tr>
            </table>
        </fieldset>
    </form>

</body>
</html>

