@model IEnumerable<HopeTherapy.Models.Volunteer>
@{
    ViewBag.Title = "VMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
</head>
<body>
    <br />
    <p><a href="/Volunteer/List" class="btn btn-primary btn-lg">Go Back &laquo;</a></p>
    <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p>

    <center><h1>Volunteer Mailing List</h1></center>
    @if (Model.Any())
    {
        foreach (var Volunteer in Model)
        {
            @*
                <a href='@Url.Action("Profile", "Volunteer", new { ID = @Volunteer.VolunteerID })' style="color:#935347">@Volunteer.FirstName @Volunteer.LastName</a>
                <br />
            *@
            <div class="col-sm-4">
                <h2>@Volunteer.FirstName @Volunteer.LastName</h2>
                <h3> @Volunteer.StreetAddress </h3>
                <h3> @Volunteer.City ,  @Volunteer.States ,  @Volunteer.ZipCode </h3>
                <br /><br />
            </div>
        }
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    }
    else
    {
        <br />
        <center><h2>Sorry, nobody is in the Mail list.</h2></center>
    }
</body>
</html>
